.nested-fields
  .form-row
    .col.hide
      = f.input :id
    .col
      div#ingredient_name
    .col
      = f.input :display_ingredient_name, label: false
    .col
      = f.input :display_weight_name
    .col
      = f.input :weight
    .col
      br
      = link_to_remove_association '❌', f
