@import "bootstrap";

/*
 *= require jquery.ui.all
 *= require_tree .
 *= require_self
 */


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
body {
  background-color: #F9D777;
}

#background_color {
  background-color: #F9D777;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {

}

#sub-title {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

header {
  background-color: #151515;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #ffffff;
  background-color: #151515;
  width: 100%;
}

footer a {
  color: #555;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

form {
  margin: 0 auto;
}


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.bg-white {
  background-color: #FAF7F7;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/* home */

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-bottom: 50px;
}

/*フォーム全体*/
#form1 {
  position: relative; /*フォームの相対位置*/
  max-width: 270px; /*フォームのサイズ*/
  margin-bottom: 15px; /*フォームの下に余白*/
}

/*検索ボックス*/
#sbox {
  position: absolute; /*フォームの絶対位置*/
  left: 0;
  top: 0;
  outline: 0; /*クリック時の青い枠線消す*/
  height: 50px; /*検索ボックスの高さ*/
  padding: 0 10px; /*テキスト位置調整*/
  border-radius: 2px 0 0 2px; /*検索ボックスの角を丸める*/
  background: #eee; /*検索ボックスの背景カラー*/
}

.page-link {
  color: #E86B88;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #E86B88;
  border-color: #E86B88;
}

#img1 {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}

#recipe_description {
  height: 192px !important;
  top: 0;
}

#new_recipe > input.btn.btn-primary.mx-auto.d-block {
  width: 100px;
  margin: 0 auto;
}

// 手順テーブル1項目目と2項目目の幅を合わせる
#second-form > div.col-md-6.sortable.js-direction.ui-sortable > div:nth-child(2),
#second-form > div.col-md-6.js-direction.sortable.ui-sortable > div:nth-child(2) {
  height: 60px;
}



// 材料フォーム1項目目と2項目目の幅を合わせる
#new_recipe > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(1),
#new_recipe > div:nth-child(4) > div > div:nth-child(2) > div:nth-child(1) {
  height: 110px;
}

#new_recipe > div:nth-child(4) > div > div:nth-child(1) > div.nested-fields > div > div:nth-child(5) > a,
#new_recipe > div:nth-child(4) > div > div:nth-child(2) > div.nested-fields > div > div:nth-child(3) > a {
  position: absolute;
  top: 5px;
}

#second-form > div.col-md-6.sortable.js-direction.ui-sortable > div:nth-child(2) > div > div > div:nth-child(3) > a,
#new_recipe > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(1) > div > div > div:nth-child(5) > a,
#new_recipe > div:nth-child(4) > div > div:nth-child(2) > div:nth-child(1) > div > div > div:nth-child(3) > a {
  position: absolute;
  bottom: 14px;
}

#new_recipe > div:nth-child(3) > div > div:nth-child(2) > div > div.input.string.required.recipe_name > label,
#new_recipe > div:nth-child(3) > div > div:nth-child(2) > div > div.input.string.optional.recipe_description > label {
  font-size: 2rem;
}

.btn-circle-3d {
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  background: #7C7C7C;
  color: #FFF;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #7C7C7C;
  transition: .4s;
}

.btn-circle-3d:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

#second-form {
  padding-top: 30px;
}

#myfile > div > label {
  display: none;
}

abbr {
  display: none;
}

.numeric.integer.required {
  outline: 0;
  border: 0px;
  background: transparent;
}

#second-form > div.col-md-6.js-direction.sortable.ui-sortable > div.field.ui-sortable-handle > div > div > div:nth-child(1) > div > label {
  color: #F9D777;
}

#second-form > div.col-md-6.js-direction.sortable.ui-sortable > .nested-fields {
  height: 59px;
}

#second-form > div.col-md-6.js-direction.sortable.ui-sortable > div:nth-child(2) > div > div > div:nth-child(3) > a {
  position: absolute;
  bottom: 35px;
}

#second-form > div.col-md-6.js-direction.sortable.ui-sortable > div.nested-fields > div > div:nth-child(3) > a {
  position: absolute;
  top: 12px;
}

#recipe_directions_attributes_0_number {
  position: relative;
  bottom: 25px;
}

#ingredient-search-results {
  li:hover {
    cursor: pointer;
    background-color: #7C7C7C;
    color: #FFFFFF;
  }
}

#add_ingredient_field,
#open_modal {
  display: none !important;
}

#submit_button {
  cursor: pointer;
}

//材料関係テーブル ID入力欄を消す
.hide {
  display: none;
}

#recipe_directions_attributes_0_number {
  position: absolute;
  bottom: 30px;
}

.container {
  padding: 0;
}

#text_pink {
  color: #E86B88;
}

/* レシピ詳細 */

.mb-30 {
  margin-bottom: 30px;
}

//ボタンの固定
.bottom_btn {
  position: relative;
  bottom: 0;
}