- provide(:title, "マイレシピ")
h1.pt-5.pb-0.mb-0
  | マイレシピ
= render partial: 'shared/tile_view'

sass:
  h1
    color: #E86B88
    font-family: Corsiva Hebrew, sans-serif
    font-size: 7vw
    h2
      color: #FFFFFF
      font-family: Helvetica Neue, monospace
      font-size: 3vw

      .input-group-btn
        width: 15px
    .btn
      color: #E86B88;