<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About",   'about_path' %></li>
      <li><%= link_to "Contact", 'contact_path' %></li>
    </ul>
    The <a href="https://quick-recipe.herokuapp.com/">QuickRecipe</a> by <a href="https://twitter.com/runes224">runes224</a>
  </nav>
</footer>
